@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav d-flex flex-row align-items-center" style="gap: 10px">
    <li class="nav-item" id="cartIcon">
        @if (User.IsInRole("Admin"))
        {
            <a class="nav-link d-flex align-items-center" asp-action="GetUserCart" asp-controller="Cart" style="gap: 4px; display: none !important">
                <span id="cartCount" class="badge count__item">0</span>
                <i class="fa-solid fa-cart-shopping cart__icon"></i>
            </a>
        }
        else
        {
            <a class="nav-link d-flex align-items-center" asp-action="GetUserCart" asp-controller="Cart" style="gap: 4px">
                <span id="cartCount" class="badge count__item">0</span>
                <i class="fa-solid fa-cart-shopping cart__icon"></i>
            </a>
        }

    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" style="padding: 0" class="nav-link text-dark" asp-action="UserOrders" asp-controller="UserOrder">
                Hello <span id="username">@User.Identity?.Name</span>!
                @if (User.IsInRole("Admin"))
                {
                    <span>(Admin)</span>
                }
            </a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" style="padding: 0" class="nav-link btn btn-link text-dark border-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-primary btn__auth" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary btn__auth" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
